# dependencies
node_modules/

# environment variables
.env
.env*.local

# production build
/dist
/build

# logs
npm-debug.log*
yarn-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# testing
/coverage

# misc
*.pem
.pnp.*